.menu{
    -fx-text-fill: white;
    -fx-pref-heigh:50px;
    -fx-pref-width: 170px;

}
.menu:hover{
    -fx-background-color:#90ee90;
}
.thanhmenu{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #449D6B 0%, #633364 100%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}
.ngancach{
    -fx-stroke: white;
}
.doiMW_btn{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #449D6B 0%, #633364 100%);
    -fx-text-fill: WHITE;
}
.doiMW_btn:hover{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 90%, #449D6B 0%, #633364 90%);
    -fx-text-fill: red;
}
.dangxuat_btn{
    -fx-background-color: #633364;
    -fx-text-fill: #449D6B;
}
.dangxuat_btn:hover{
    -fx-text-fill: WHITE;
}